link(rel='stylesheet', type='text/css', href='/components/navbar.css')
nav.navbar
  a.navbar__brand(href='/') Tha Blawg
  ul.navbar__link-container
    li.nav-item
      a.nav-link(href='/')
        span Home
    li.nav-item
      a.nav-link(href='/index')
        span Index
    li.nav-item
      a.nav-link(href='/blog')
        span Blog
    li.nav-item
      a.nav-link(href='/createpost')
        span Create Post
  span.navbar__login-container
    a.login-button(href='#')
      span  Login
