.blog-form-container {
  width: 100%;
}
.blog-form {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin: 0 auto;
  width: 500px;
}
.blog-form .blog-form__author,
.blog-form .blog-form__title {
  width: 60%;
}
.blog-form .blog-form__body {
  width: 100%;
  height: 300px;
}
.blog-form button {
  margin: 1.5rem 0;
  width: 12rem;
  height: 4rem;
  border-radius: 0.6rem;
}
