.blog {

}
.blog-post {
  margin: 2rem 3rem;
  padding: 2.5rem 3rem 1.5rem 3rem;
  box-shadow: 0 0 0.2rem 0 #00000099;
  border-radius: 1rem;
  display: flex;
}
.blog-post > *,
.blog-post__content > * {
  margin: 0 0 1rem 0;
}
.blog-post > * {
  flex: 1 1 auto;
}
.blog-post__controls {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.blog-post__body {
  white-space: pre-line; /*  */
}
.blog-post__controls > button {
  width: 10rem;
  height: 3rem;
}
.blog-post__controls > button:nth-of-type(2) {
  margin-top: 3rem;
}
